.top-bar {
    display: flex;
    align-items: center;
    gap: var(--space-4);

    border-bottom: 1px solid var(--slate-5);
    background: var(--slate-2);

    height: var(--space-12);
    padding: var(--space-2) var(--space-4);

    position: sticky;
    top: 0;
    z-index: 1;

    scrollbar-gutter: stable;
}
