.select {
    --select-button-text-color: var(--gray-12);

    --select-button-outline-color: transparent;
    --select-button-outline-width: 2px;

    --select-button-bg-color: var(--gray-2);
    --select-button-height: var(--ui-height-md);

    --select-button-border-color: var(--gray-5);
    --select-button-border-width: 1px;
    --select-button-border-radius: var(--radius-md);

    &.sm {
        --select-button-height: var(--group-height, --ui-height-sm);
    }

    &.md {
        --select-button-height: var(--group-height, --ui-height-md);
    }

    &.lg {
        --select-button-height: var(--group-height, --ui-height-lg);
    }

    flex-shrink: 0;

    &[data-disabled] {
        cursor: not-allowed !important;
        opacity: 0.5;
    }

    .select-button {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        color: var(--select-button-text-color);
        background-color: var(--select-button-bg-color);

        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);

        border: var(--select-button-border-width) solid
            var(--select-button-border-color);
        border-radius: var(--select-button-border-radius);

        outline: var(--select-button-outline-width) solid
            var(--select-button-outline-color);

        height: var(--select-button-height);
        width: 100%;

        .icon {
            height: var(--icon-size-sm);
            width: var(--icon-size-sm);

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &[data-disabled] {
            cursor: not-allowed !important;
            opacity: 0.5;
        }

        &.borderless {
            --select-button-border-color: transparent;
            --select-button-border-width: 0;
            --select-button-bg-color: transparent;
        }

        &:not(.borderless) {
            &[data-hovered] {
                --select-button-bg-color: var(--gray-1);
                --select-button-border-color: var(--gray-7);
            }

            &[data-focus-visible] {
                --select-button-border-color: var(--brand-8);
                --select-button-bg-color: var(--gray-1);
                --select-button-outline-color: var(--brand-6);
            }

            &[data-pressed] {
                --select-button-bg-color: var(--gray-3);
                --select-button-border-color: var(--gray-8);
            }
        }

        &[data-placeholder] {
            --select-button-text-color: var(--gray-11);
        }

        .select-value {
            --select-value-text-color: var(--gray-12);

            font-size: var(--font-size-body-sm);
            line-height: var(--line-height-body-sm);

            display: flex;
            align-items: center;
            width: 100%;

            gap: var(--space-2);
            padding: 0 var(--space-2);
            color: var(--select-value-text-color);

            &[data-placeholder] {
                --select-value-text-color: var(--gray-11);
            }
        }

        .select-icon {
            flex-shrink: 0;

            height: var(--icon-size-sm);
            width: var(--icon-size-sm);

            color: var(--gray-11);

            margin-right: var(--space-2);
        }
    }
}
