@keyframes skeleton {
    to {
        background-position-x: -20%;
    }
}

.skeleton {
    animation: 2s skeleton ease-in-out infinite;
    background: linear-gradient(
            100deg,
            var(--gray-4) 40%,
            var(--gray-6) 50%,
            var(--gray-4) 60%
        )
        var(--gray-4);
    background-color: var(--gray-3);
    background-size: 200% 100%;
    background-position-x: 180%;

    border-radius: var(--radius-md);
}
