@keyframes skeleton {
    to {
        background-position-x: -20%;
    }
}

.skeleton {
    animation: 2s skeleton ease-in-out infinite;
    background: linear-gradient(
            100deg,
            var(--slate-4) 40%,
            var(--slate-6) 50%,
            var(--slate-4) 60%
        )
        var(--slate-4);
    background-color: var(--slate-3);
    background-size: 200% 100%;
    background-position-x: 180%;

    min-height: var(--space-6);
}
