.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--space-4);

    &.gap-1 {
        grid-gap: var(--space-1);
    }

    &.gap-2 {
        grid-gap: var(--space-2);
    }

    &.gap-3 {
        grid-gap: var(--space-3);
    }

    &.gap-4 {
        grid-gap: var(--space-4);
    }

    &.x1 {
        grid-template-columns: 1fr;
    }

    &.x2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &.x3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.x4 {
        grid-template-columns: repeat(4, 1fr);
    }
}
