{
  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "plugins": ["react-perf", "sonarjs", "jsdoc", "unused-imports", "import"],

  "extends": [],

  "ignorePatterns": ["*.snap", "dist"],

  "overrides": [
    /** -----------------------------------------------------------------------------
     * * Typescript
     * ------------------------------------------------------------------------------- */

    {
      "files": ["**/*.ts", "**/*.tsx"],

      "extends": [
        "airbnb",
        "airbnb/hooks",
        "airbnb-typescript",
        "eslint:recommended",
        "plugin:react-perf/recommended",
        "prettier",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/consistent-type-imports": [
          "error",
          {
            "disallowTypeAnnotations": true,
            "prefer": "type-imports"
          }
        ],
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/prefer-optional-chain": "error",
        "arrow-body-style": ["error", "always"],
        "curly": ["error", "all"],
        "import/no-cycle": "error",
        "import/no-default-export": "error",
        "import/no-duplicates": "error",
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": [
              "**/*.test.ts",
              "**/*.test.tsx",
              "./test/**/*",
              "tsup.config.ts",
              "vite.config.ts"
            ]
          }
        ],
        "import/prefer-default-export": "off",
        "import/order": [
          "error",
          {
            "groups": [
              ["builtin", "external"],
              "internal",
              ["parent", "sibling", "index"],
              "object",
              "type"
            ],
            "newlines-between": "always"
          }
        ],
        "no-console": [
          "error",
          {
            "allow": ["warn", "error", "info"]
          }
        ],
        "no-unused-vars": "off",
        "react-perf/jsx-no-jsx-as-prop": "warn",
        "react-perf/jsx-no-new-array-as-prop": "warn",
        "react-perf/jsx-no-new-function-as-prop": "warn",
        "react-perf/jsx-no-new-object-as-prop": "warn",
        "react/button-has-type": "error",
        "react/destructuring-assignment": [
          "error",
          "always",
          {
            "destructureInSignature": "always",
            "ignoreClassFields": true
          }
        ],
        "react/jsx-filename-extension": [
          "error",
          {
            "extensions": [".tsx"]
          }
        ],
        "react/jsx-props-no-spreading": "off",
        "react/prop-types": "off",
        "react/require-default-props": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "error",
          {
            "args": "after-used",
            "argsIgnorePattern": "^_",
            "vars": "all",
            "varsIgnorePattern": "^_"
          }
        ]
      }
    },

    /** -----------------------------------------------------------------------------
     * Overrides for MDX files
     * ------------------------------------------------------------------------------- */

    {
      "files": ["**/*.mdx"],

      "extends": "plugin:mdx/recommended",
      "parser": "eslint-mdx"
    },

    /** -----------------------------------------------------------------------------
     * Overrides for vanilla extract css.ts files
     * ------------------------------------------------------------------------------- */

    {
      "files": ["**/*.css.ts"],

      "rules": {
        "sonarjs/no-duplicate-string": "off"
      }
    },

    /** -----------------------------------------------------------------------------
     * Tests
     * ------------------------------------------------------------------------------- */

    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],

      "env": {
        "jest": true
      },
      "rules": {
        "sonarjs/no-duplicate-string": "off",
        "react-perf/jsx-no-jsx-as-prop": "off",
        "react-perf/jsx-no-new-array-as-prop": "off",
        "react-perf/jsx-no-new-function-as-prop": "off",
        "react-perf/jsx-no-new-object-as-prop": "off"
      }
    },

    /**
     * Storybook
     */

    {
      "files": ["*.stories.tsx"],

      "rules": {
        "react/function-component-definition": "off",
        "import/no-default-export": "off",
        "import/prefer-default-export": "error"
      }
    },

    /**
     * Vite
     */

    {
      "files": ["vite.config.ts"],

      "rules": {
        "react/function-component-definition": "off",
        "import/no-default-export": "off",
        "import/prefer-default-export": "error"
      }
    },

    /**
     * Misc
     */

    {
      "files": ["*.stories.tsx", "tsup.config.ts"],

      "rules": {
        "import/no-default-export": "off",
        "import/prefer-default-export": "error"
      }
    }
  ]
}
