{
    "arrowParens": "always",
    "proseWrap": "always",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^[../]",
        "^[./]",
        "<THIRD_PARTY_TS_TYPES>",
        "<TS_TYPES>"
    ],
    "tabWidth": 4,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["prettier-plugin-jsdoc"],
    "printWidth": 80,
    "singleAttributePerLine": true
}
