.switch {
    --dot-size: var(--space-4);

    --switch-margin: var(--space-0\.75);
    --switch-height: calc(var(--dot-size) + (var(--switch-margin) * 2));
    --switch-width: calc((var(--dot-size) * 2) + (var(--switch-margin) * 2));

    --switch-indicator-bg: var(--slate-7);
    --switch-indicator-fg: var(--slate-1);

    --switch-indicator-outline-width: 2px;
    --switch-indicator-outline-color: transparent;

    --switch-indicator-transform: translateX(0);

    display: flex;
    align-items: center;
    gap: var(--space-2);

    position: relative;

    cursor: pointer;

    &[data-selected] {
        --switch-indicator-transform: translateX(100%);
        --switch-indicator-bg: var(--blue-9);
    }

    &[data-focus-visible] {
        --switch-indicator-outline-color: var(--blue-6);
    }

    .switch-label {
        font-size: var(--font-size-body-md);
        line-height: var(--line-height-body-md);

        color: var(--slate-12);
    }

    .switch-indicator {
        border-radius: var(--radius-pill);
        background-color: var(--switch-indicator-bg);

        height: var(--switch-height);
        width: var(--switch-width);

        outline: var(--switch-indicator-outline-width) solid
            var(--switch-indicator-outline-color);

        @media (prefers-reduced-motion: no-preference) {
            transition-duration: var(--dur-short);
            transition-property: background-color;
            transition-timing-function: var(--ease-quart-in-out);
        }

        &::before {
            content: "";
            display: block;

            width: var(--dot-size);
            height: var(--dot-size);

            margin: var(--switch-margin);

            background-color: var(--switch-indicator-fg);
            border-radius: var(--radius-round);

            transform: var(--switch-indicator-transform);
        }

        @media (prefers-reduced-motion: no-preference) {
            &::before {
                transition-duration: var(--dur-short);
                transition-property: background-color, transform;
                transition-timing-function: var(--ease-quart-in-out);
            }
        }
    }
}
