.card-header {
    border: 1px solid var(--slate-6);
    border-top-left-radius: var(--radius-lg);
    border-top-right-radius: var(--radius-lg);

    align-items: center;
    display: flex;
    gap: var(--space-4);

    padding: var(--space-4);
    margin-top: var(--space-3);
}

.card-actions {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    margin-left: auto;
}

.card-title-section {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--space-4);

    margin-bottom: var(--space-3);

    .card-title {
        font-size: var(--fontSize-bodyLg);
        line-height: var(--lineHeight-bodyLg);

        margin-bottom: var(--space-1);
    }

    .card-description {
        color: var(--slate-11);
    }
}

.card {
    &.has-header {
        border-bottom: 1px solid var(--slate-5);
        border-bottom-left-radius: var(--radius-lg);
        border-bottom-right-radius: var(--radius-lg);

        border-left: 1px solid var(--slate-5);
        border-right: 1px solid var(--slate-5);
    }

    &:not(.has-header) {
        border-radius: var(--radius-lg);
        border: 1px solid var(--slate-6);

        margin-top: var(--space-6);
    }

    &.has-padding {
        padding: var(--space-4);
    }
}
