.text-link {
    --link-color: var(--clr-btn_primary_bg);
    --link-outline-color: transparent;
    --link-outline-size: 2px;
    --link-radius: var(--radius-md);

    display: flex;
    align-items: center;
    gap: var(--space-1);

    color: var(--link-color);
    font-size: inherit;

    border-radius: var(--link-radius);
    outline: var(--link-outline-size) solid var(--link-outline-color);

    @media (prefers-reduced-motion: no-preference) {
        transition-duration: var(--dur-short);
        transition-property: color, outline;
        transition-timing-function: var(--ease-quart-in-out);
    }

    &[data-hovered],
    &[data-pressed] {
        --link-color: var(--clr-btn_primary_bg_active);
        text-decoration: underline;
    }

    &[data-disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &[data-focus-visible] {
        --btn-outline-color: var(--clr-focus_ring);
    }
}
