@import "../stylesheet.css";

.checkbox-wrapper {
    --checkbox-bg: var(--slate-2);
    --check-mark-color: var(
        --checkbox-bg
    ); /* Should be the same as the bg color */

    --checkbox-label-color: var(--slate-12);

    --checkbox-border-color: var(--slate-6);
    --checkbox-border-width: 1px;

    --checkbox-outline-width: 2px;
    --checkbox-outline-color: transparent;

    --transition-duration: var(--dur-medium);

    display: flex;
    align-items: center;
    gap: var(--space-2);

    font-size: var(--fontSize-bodySm);
    color: var(--checkbox-label-color);

    forced-color-adjust: none;

    .checkbox {
        width: var(--space-4);
        height: var(--space-4);

        border: var(--checkbox-border-width) solid var(--checkbox-border-color);
        border-radius: var(--radius-sm);

        background-color: var(--checkbox-bg);

        outline: var(--checkbox-outline-width) solid
            var(--checkbox-outline-color);

        display: flex;
        align-items: center;
        justify-content: center;

        @media (prefers-reduced-motion: no-preference) {
            transition-duration: var(--transition-duration);
            transition-property: background-color, border-color, outline;
            transition-timing-function: var(--ease-quart-in-out);
        }
    }

    svg {
        fill: none;
        stroke: var(--check-mark-color);

        stroke-dasharray: 22;
        stroke-dashoffset: 66;
        stroke-width: var(--space-1);

        height: var(--space-3);
        width: var(--space-3);

        @media (prefers-reduced-motion: no-preference) {
            transition-duration: var(--transition-duration);
            transition-property: stroke, stroke-dashoffset;
            transition-timing-function: var(--ease-quart-in-out);
        }
    }

    &[data-hovered] {
        --checkbox-bg: var(--slate-1);
        --checkbox-border-color: var(--slate-7);
        cursor: pointer;
    }

    &[data-pressed],
    &[data-focus-visible] {
        --checkbox-bg: var(--slate-3);
        --checkbox-border-color: var(--slate-8);
    }

    &[data-focus-visible] {
        --checkbox-outline-color: var(--blue-6);
        --checkbox-border-color: var(--blue-8);
    }

    &[data-selected] {
        --checkbox-bg: var(--blue-9);
        --checkbox-border-color: var(--blue-9);

        --check-mark-color: var(--slate-1);

        &[data-pressed],
        &[data-focus-visible] {
            --checkbox-bg: var(--blue-11);
            --checkbox-border-color: var(--blue-11);
        }

        svg {
            stroke-dashoffset: 44;
        }
    }

    &[data-indeterminate] {
        svg {
            stroke: none;
            fill: var(--check-mark-color);
        }
    }

    &[data-invalid] {
        --checkbox-bg: var(--red-2);
        --checkbox-border-color: var(--red-6);
        --checkbox-label-color: var(--red-11);

        &[data-hovered] {
            --checkbox-bg: var(--red-1);
            --checkbox-border-color: var(--red-7);
        }

        &[data-pressed],
        &[data-focus-visible] {
            --checkbox-bg: var(--red-3);
            --checkbox-border-color: var(--red-8);
        }

        &[data-focus-visible] {
            --checkbox-outline-color: var(--red-6);
            --checkbox-border-color: var(--red-8);
        }

        &[data-selected] {
            --checkbox-bg: var(--red-9);
            --checkbox-border-color: var(--red-9);

            --check-mark-color: var(--red-1);

            &[data-pressed],
            &[data-focus-visible] {
                --checkbox-bg: var(--red-11);
                --checkbox-border-color: var(--red-11);
            }
        }
    }

    &[data-disabled] {
        cursor: not-allowed;

        .checkbox {
            opacity: 0.5;
        }
    }
}
