.page-header {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    height: var(--space-8);
    margin-bottom: var(--space-2);

    .actions {
        display: flex;
        align-items: center;
        gap: var(--space-2);

        margin-left: auto;
    }
}
