.avatar {
    --avatar-bg: var(--blue-5);
    --avatar-text-color: var(--blue-9);

    background: var(--avatar-bg);
    color: var(--avatar-text-color);

    font-size: max(var(--fontSize-bodyMd), 100%);
    font-weight: var(--font-weight-medium);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    overflow: hidden;

    &.circle {
        border-radius: var(--radius-round);
    }

    &.square {
        border-radius: var(--radius-md);
    }
}
