@keyframes collapsible {
    from {
        height: 0;
    }
    to {
        height: var(--radix-collapsible-content-height);
    }
}

.collapsible {
    .collapsible-content {
        overflow: hidden;
    }

    @media (prefers-reduced-motion: no-preference) {
        &[data-state="open"] {
            .collapsible-content {
                animation: collapsible var(--dur-medium)
                    var(--ease-quart-in-out) forwards;
            }
        }
        &[data-state="closed"] {
            .collapsible-content {
                animation: collapsible var(--dur-medium)
                    var(--ease-quart-in-out) reverse;
            }
        }
    }

    .collapsible-trigger {
        --btn-outline-color: transparent;
        --btn-outline-size: 2px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        cursor: pointer;
        gap: var(--space-2);

        color: var(--slate-11);

        border-radius: var(--btn-radius);
        outline: var(--btn-outline-size) solid var(--btn-outline-color);

        &[data-focus-visible],
        &[data-hovered],
        &[data-pressed] {
            color: var(--blue-9);
        }

        &[data-focus-visible] {
            --btn-outline-color: var(--blue-6);
        }

        &[data-focused] {
            outline: 0;
        }

        @media (prefers-reduced-motion: no-preference) {
            transition-duration: var(--dur-short);
            transition-property: color, outline;
            transition-timing-function: var(--ease-quart-in-out);
        }

        .collapsible-trigger-icon {
            @media (prefers-reduced-motion: no-preference) {
                transition: transform var(--dur-short) var(--ease-quart-in-out);
            }
        }
    }

    &[data-state="open"] {
        .collapsible-trigger-icon {
            transform: rotate(90deg);
        }
    }
}
