.keyboard-shortcut-indicator {
    --keyboard-shortcut-height: var(--adornment-size, var(--space-4));
    --keyboard-shortcut-padding-x: calc(var(--keyboard-shortcut-height) * 0.25);
    /* prettier-ignore */
    --keyboard-shortcut-padding-y: calc(var(--keyboard-shortcut-height) * 0.125);

    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1;

    background-color: var(--gray-3);
    color: var(--gray-11);

    border: 1px solid var(--gray-5);
    border-bottom-width: 2px;
    border-radius: var(--radius-sm);

    height: var(--keyboard-shortcut-height);
    /* prettier-ignore */
    padding: var(--keyboard-shortcut-padding-y) var(--keyboard-shortcut-padding-x);
}
