.field-error {
    display: flex;
    align-items: center;
    gap: var(--space-1);

    color: var(--red-11);

    margin: var(--space-1) 0;

    font-size: var(--fontSize-bodySm);
    line-height: var(--lineHeight-bodySm);
}
