.text-area {
    --text-area-bg: var(--slate-2);
    --text-area-color: var(--slate-12);

    --text-area-height: calc(var(--space-8) * 3);

    --text-area-border-width: 1px;
    --text-area-border-color: var(--slate-6);
    --text-area-border-radius: var(--radius-md);

    --text-area-outline-width: 2px;
    --text-area-outline-color: transparent;

    --text-area-padding: var(--space-1) var(--space-2);

    color: var(--text-area-color);
    background-color: var(--text-area-bg);

    font-size: var(--fontSize-bodySm);
    line-height: var(--lineHeight-bodySm);

    width: 100%;
    min-height: var(--text-area-height);

    border: var(--text-area-border-width) solid var(--text-area-border-color);
    border-radius: var(--text-area-border-radius);

    outline: var(--text-area-outline-width) solid var(--text-area-outline-color);

    padding: var(--text-area-padding);

    @media (prefers-reduced-motion: no-preference) {
        transition-duration: var(--dur-short);
        transition-property: background-color, border-color, color, outline;
        transition-timing-function: var(--ease-quart-in-out);
    }

    &[data-hovered] {
        --text-area-bg: var(--slate-1);
        --text-area-border-color: var(--slate-7);
    }

    &[data-focused],
    &[data-focus-visible] {
        --text-area-bg: var(--slate-1);
        --text-area-border-color: var(--blue-8);
        --text-area-outline-color: var(--blue-6);
    }

    &[data-invalid] {
        --text-area-bg: var(--red-2);
        --text-area-text-color: var(--red-12);
        --text-area-border-color: var(--red-6);

        &[data-hovered] {
            --text-area-bg: var(--red-1);
            --text-area-border-color: var(--red-7);
        }

        &[data-focused],
        &[data-focus-visible] {
            --text-area-bg: var(--red-1);
            --text-area-border-color: var(--red-8);
            --text-area-outline-color: var(--red-6);
        }
    }

    &[data-disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
