.dropdown-menu {
    --dropdown-menu-item-spacing-x: var(--space-2);

    --dropdown-menu-item-font-size: var(--font-size-body-sm);
    --dropdown-menu-item-line-height: var(--line-height-body-sm);

    /* Ensure that items in a menu item are aligned with buttons, inputs, etc */
    --dropdown-menu-item-height: calc(var(--ui-height-sm));

    /* vars related to the horizontal layout of menu items */

    --item-grid-template: 0px 1fr 0px;

    --item-margin-left: 0px;
    --item-margin-right: 0px;

    &:has(.menu-item-icon) {
        --item-grid-template: var(--icon-size-sm) 1fr 0px;
        --item-margin-left: var(--space-2);

        &:has(input[type="checkbox"]),
        &:has([data-has-submenu="true"]) {
            --item-grid-template: var(--icon-size-sm) 1fr var(--icon-size-sm);
        }
    }

    &:has(input[type="checkbox"]),
    &:has([data-has-submenu="true"]) {
        --item-grid-template: 0px 1fr var(--icon-size-sm);
        --item-margin-right: var(--space-2);

        &:has(.menu-item-icon) {
            --item-grid-template: var(--icon-size-sm) 1fr var(--icon-size-sm);
        }
    }

    outline: 0;
    overflow-y: auto;
    overflow-x: hidden;

    max-height: inherit;
    border-radius: var(--radius-sm);

    min-width: 6rem;

    scrollbar-width: thin;
    scrollbar-color: var(--slate-5) var(--slate-3);

    .dropdown-menu-section {
        padding: var(--dropdown-menu-inset);

        &:not(:last-child) {
            border-bottom: 1px solid var(--slate-5);
        }
    }

    .dropdown-menu-section-header,
    .dropdown-menu-item {
        display: grid;
        grid-template-columns: var(--item-grid-template);
        grid-template-areas: "left center right";
        align-items: center;

        min-height: var(--dropdown-menu-item-height);

        padding: 0 var(--dropdown-menu-item-spacing-x);

        &:has(.menu-item-icon) {
            padding-left: var(--space-1\.5);
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;

            width: var(--icon-size-sm);
            height: var(--icon-size-sm);
        }

        .dropdown-menu-item-name,
        .dropdown-menu-section-header-content {
            display: block;
            grid-area: center;

            margin-left: var(--item-margin-left);
            margin-right: var(--item-margin-left);
        }

        &:has(input[type="checkbox"]),
        &:has(.submenu-icon) {
            padding-right: var(--space-1\.5);
        }

        .menu-item-icon {
            grid-area: left;
        }
        .submenu-icon {
            grid-area: right;
        }
    }

    .dropdown-menu-section-header {
        color: var(--slate-10);

        font-size: var(--font-size-body-xs);
        line-height: var(--font-size-body-xs);
        font-weight: var(--font-weight-medium);
        text-align: left;
    }

    .dropdown-menu-item {
        --dropdown-name-color: var(--slate-12);
        --dropdown-description-color: var(--slate-11);

        --dropdown-highlight-bg: var(--slate-3);
        /* border-radius: var(--radius-sm); */
        color: var(--slate-12);

        cursor: pointer;

        font-size: var(--dropdown-menu-item-font-size);
        line-height: var(--dropdown-menu-item-line-height);
        font-weight: normal;
        text-align: left;
        text-decoration: none;

        width: 100%;

        border-radius: var(--radius-sm);

        flex-shrink: 0;
        outline: 0;

        .dropdown-menu-item-name,
        .dropdown-menu-item-description {
            display: block;

            font-size: var(--dropdown-menu-item-font-size);
            line-height: var(--dropdown-menu-item-line-height);
        }

        .checkbox-wrapper {
            grid-area: right;
        }

        .dropdown-menu-item-name {
            color: var(--dropdown-name-color);
        }

        .dropdown-menu-item-description {
            display: block;
            color: var(--dropdown-description-color);
        }

        &:first-letter {
            text-transform: "capitalize";
        }

        &[data-disabled] {
            cursor: not-allowed;
            opacity: 0.5;
        }

        &[data-hovered],
        &[data-focused],
        &[data-focus-visible] {
            background-color: var(--dropdown-highlight-bg);
        }

        &.red {
            --dropdown-name-color: var(--red-11);
            --dropdown-description-color: var(--red-10);
            --dropdown-highlight-bg: var(--red-3);
        }

        &.green {
            --dropdown-name-color: var(--green-11);
            --dropdown-description-color: var(--green-10);
            --dropdown-highlight-bg: var(--green-3);
        }

        &.blue {
            --dropdown-name-color: var(--blue-11);
            --dropdown-description-color: var(--blue-10);
            --dropdown-highlight-bg: var(--blue-3);
        }

        &.amber {
            --dropdown-name-color: var(--amber-11);
            --dropdown-description-color: var(--amber-10);
            --dropdown-highlight-bg: var(--amber-3);
        }
    }
}
