.dropdown-menu {
    --dropdown-menu-spacing-x: var(--space-1);
    --dropdown-menu-item-spacing-x: var(--space-2);

    --dropdown-menu-item-font-size: var(--font-size-body-sm);
    --dropdown-menu-item-line-height: var(--line-height-body-sm);

    /* vars related to the horizontal layout of menu items */

    --item-grid-template: 0px 1fr 0px;

    &:has(.menu-item-icon) {
        --item-grid-template: var(--icon-size-sm) 1fr 0px;

        &:has(input[type="checkbox"]),
        &:has([data-has-submenu="true"]) {
            --item-grid-template: var(--icon-size-sm) 1fr var(--icon-size-sm);
        }
    }

    &:has(input[type="checkbox"]),
    &:has([data-has-submenu="true"]) {
        --item-grid-template: 0px 1fr var(--icon-size-sm);

        &:has(.menu-item-icon) {
            --item-grid-template: var(--icon-size-sm) 1fr var(--icon-size-sm);
        }
    }

    outline: 0;
    overflow-y: auto;
    overflow-x: hidden;

    /* padding: var(--dropdown-menu-spacing-x); */
    max-height: inherit;

    /* min-width: 200px; */

    &::-webkit-scrollbar {
        background-color: transparent;
        border-bottom-right-radius: var(--radius-sm);
        border-top-right-radius: var(--radius-sm);
        width: var(--space-2);
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--slate-5);
        border: 2px solid var(--slate-1);
        border-radius: var(--radius-md);
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .dropdown-menu-section:not(:last-child)::after {
        background: var(--slate-5);
        content: "";

        display: block;
        height: 1px;
    }

    .dropdown-menu-section-header {
        display: flex;
        align-items: center;

        color: var(--slate-11);

        font-size: var(--dropdown-menu-item-font-size);
        line-height: var(--dropdown-menu-item-line-height);
        font-weight: var(--font-weight-medium);
        text-align: left;
    }

    .dropdown-menu-section:not(:last-child)::after,
    .dropdown-menu-section-header {
        margin: var(--space-2) var(--dropdown-menu-item-spacing-x);
    }

    .dropdown-menu-item {
        --dropdown-name-color: var(--slate-12);
        --dropdown-description-color: var(--slate-11);

        --dropdown-highlight-bg: var(--slate-3);
        /* border-radius: var(--radius-sm); */
        color: var(--slate-12);

        cursor: pointer;

        font-size: var(--dropdown-menu-item-font-size);
        line-height: var(--dropdown-menu-item-line-height);
        font-weight: normal;
        text-align: left;
        text-decoration: none;

        min-height: var(--ui-height-sm);
        width: 100%;

        padding: var(--space-1) var(--dropdown-menu-item-spacing-x);

        display: grid;
        grid-template-columns: var(--item-grid-template);
        grid-template-areas: "left center right";
        align-items: center;

        flex-shrink: 0;
        outline: 0;

        .dropdown-menu-item-name,
        .dropdown-menu-item-description {
            display: block;

            font-size: var(--dropdown-menu-item-font-size);
            line-height: var(--dropdown-menu-item-line-height);
        }

        .dropdown-menu-item-name {
            display: block;
            color: var(--dropdown-name-color);
            grid-area: center;

            &:not(:first-child) {
                margin-left: var(--space-2);
            }
            &:not(:last-child) {
                margin-right: var(--space-2);
            }
        }

        .checkbox-wrapper {
            grid-area: right;
        }

        .dropdown-menu-item-description {
            display: block;
            color: var(--dropdown-description-color);
        }

        &:first-letter {
            text-transform: "capitalize";
        }

        &:has(.menu-item-icon) {
            padding-left: var(--space-1);
        }
        &:has(input[type="checkbox"]),
        &:has(.submenu-icon) {
            padding-right: var(--space-1);
            gap: var(--space-2);
        }

        .menu-item-icon,
        .submenu-icon {
            color: var(--slate-11);
            width: var(--space-4);
            height: var(--space-4);

            display: flex;
            align-items: center;
            justify-content: center;
        }
        .menu-item-icon {
            grid-area: left;
        }
        .submenu-icon {
            grid-area: right;
        }

        &[data-disabled] {
            cursor: not-allowed;
            opacity: 0.5;
        }

        &[data-hovered],
        &[data-focused],
        &[data-focus-visible] {
            background-color: var(--dropdown-highlight-bg);
        }

        &.red {
            --dropdown-name-color: var(--red-11);
            --dropdown-description-color: var(--red-10);
            --dropdown-highlight-bg: var(--red-3);
        }

        &.green {
            --dropdown-name-color: var(--green-11);
            --dropdown-description-color: var(--green-10);
            --dropdown-highlight-bg: var(--green-3);
        }

        &.blue {
            --dropdown-name-color: var(--blue-11);
            --dropdown-description-color: var(--blue-10);
            --dropdown-highlight-bg: var(--blue-3);
        }

        &.amber {
            --dropdown-name-color: var(--amber-11);
            --dropdown-description-color: var(--amber-10);
            --dropdown-highlight-bg: var(--amber-3);
        }
    }
}

.dropdown-menu-section:not(:last-child)::after {
    background: var(--slate-5);
    content: "";

    display: block;
    height: 1px;
}
