:root {
    --bp-sm: 496px;
    --bp-md: 768px;
    --bp-lg: 992px;

    --space-0: 0;
    --space-0\.25: 0.0625rem;
    --space-0\.5: 0.125rem;
    --space-0\.75: 0.1875rem;
    --space-1: 0.25rem;
    --space-1\.5: 0.375rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-7: 1.75rem;
    --space-8: 2rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-14: 3.5rem;
    --space-16: 4rem;

    --icon-size-sm: var(--space-4);

    --width-main-lg: 75rem;
    --width-main-md: 55.5rem;
    --width-main-sm: 30rem;

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-pill: 99999px;
    --radius-round: 50%;

    --dur-short: 150ms;
    --dur-medium: 300ms;
    --dur-long: 600ms;

    --ease-quart-in-out: cubic-bezier(0.76, 0, 0.24, 1);

    --shadow-xs: rgba(0, 0, 0, 0.05) 0px 2px 1px;
    --shadow-sm: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    --shadow-md: rgba(0, 0, 0, 0.1) 0px 5px 20px;
    --shadow-lg: rgba(0, 0, 0, 0.15) 0px 5px 40px;

    --font-family-body: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    --font-size-root: 16px;
    --line-height-root: 1.5rem;

    --font-size-body-lg: 1rem;
    --line-height-body-lg: 1.5rem;

    --font-size-body-md: 0.875rem;
    --line-height-body-md: 1.5rem;

    --font-size-body-sm: 0.8125rem;
    --line-height-body-sm: 1rem;

    --font-size-h1: 2.5rem;
    --line-height-h1: 3rem;

    --font-size-h2: 2rem;
    --line-height-h2: 2.5rem;

    --font-size-h3: 1.75rem;
    --line-height-h3: 2rem;

    --font-size-h4: 1.5rem;
    --line-height-h4: 1.75rem;

    --font-size-h5: 1.25rem;
    --line-height-h5: 1.5rem;

    --font-size-h6: 1.125rem;
    --line-height-h6: 1.5rem;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
}
