.search-field {
    position: relative;

    &[data-disabled] {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5;
    }

    .search-field-icon {
        flex-shrink: 0;

        height: var(--space-4);
        width: var(--space-4);

        color: var(--slate-11);
    }

    &[data-empty="true"] .search-field-clear-button {
        display: none;
    }
}
