.search-field {
	position: relative;

	.search-field-icon {
		flex-shrink: 0;

		height: var(--icon-size-sm);
		width: var(--icon-size-sm);

		color: var(--slate-11);
	}

	&[data-empty="true"] .search-field-clear-button {
		display: none;
	}
}
