.mobile-menu-overlay {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    inset: 0;
    z-index: 10;

    min-height: 100dvh;
    min-width: 100vw;
}

.mobile-menu-modal {
    background: var(--slate-1);
    box-shadow: var(--shadow-md);
    width: 100vw;

    @media (prefers-reduced-motion: no-preference) {
        &[data-entering] {
            animation: fade var(--dur-medium) var(--ease-quart-in-out) forwards;
        }
        &[data-exiting] {
            animation: fade var(--dur-medium) var(--ease-quart-in-out) reverse;
        }
    }
}

.mobile-menu {
    display: flex;
    flex-direction: column;

    position: relative;
    outline: 0;

    height: 100dvh;
}

.mobile-menu-header {
    display: flex;
    align-items: center;
    gap: var(--space-4);

    background: var(--slate-2);
    border-bottom: 1px solid var(--slate-5);

    height: var(--space-12);
    padding: var(--space-2) var(--space-4);

    position: sticky;
    top: 0;
}

.mobile-menu-title {
    color: var(--slate-12);

    font-size: var(--font-size-body-lg);
    line-height: var(--line-height-body-lg);
    font-weight: var(--font-weight-semibold);

    margin: 0;
}

.mobile-menu-content {
    overflow-y: auto;
    padding: var(--space-4);
}

.mobile-menu-footer {
    border-top: 1px solid var(--slate-5);
    margin-top: auto;
    padding: var(--space-3) var(--space-4);
}
