.tab-list {
    --tab-height: var(--space-8);
    --tab-indicator-height: var(--space-0\.5);

    --tab-outline-width: 2px;
    --tab-outline-color: transparent;

    margin: var(--space-2) 0;
    position: relative;

    &:after {
        border-bottom: 1px solid var(--clr-border_rule);
        content: "";
        inset: 0;
        position: absolute;
        width: inherit;
        z-index: -10;
    }

    .inner {
        display: flex;
        justify-content: center;
        gap: var(--space-6);

        padding-bottom: var(--space-1);

        overflow-x: scroll;
        overflow-y: visible;

        /* Hide scrollbar */
        -ms-overflow-style: none;
        scrollbar-gutter: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        &.space-evenly {
            justify-content: space-evenly;
        }
        &.start {
            justify-content: flex-start;
        }
    }

    .tab {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        position: relative;

        font-size: var(--fontSize-bodyMd);
        line-height: var(--lineHeight-bodyMd);
        font-weight: var(--fontWeight-medium);

        cursor: pointer;

        padding: var(--space-0\.25) 0;

        outline: 0;

        color: var(--clr-text_low_contrast);

        @media (prefers-reduced-motion: no-preference) {
            transition-duration: var(--dur-short);
            transition-property: background-color, border-color, color, outline;
            transition-timing-function: var(--ease-quart-in-out);
        }

        &[data-selected] {
            color: var(--clr-btn_primary_bg);
        }

        &[data-hovered] {
            color: var(--clr-btn_primary_bg);
        }

        &[data-selected][data-hovered] {
            color: var(--clr-btn_primary_bg);
        }

        .inner {
            display: flex;
            align-items: center;
            gap: var(--space-1);

            outline: var(--tab-outline-width) solid var(--tab-outline-color);

            border-radius: var(--radius-sm);
        }

        &[data-focus-visible] .inner {
            --tab-outline-color: var(--clr-focus_ring);
        }

        .indicator {
            background-color: var(--clr-btn_primary_bg);
            height: var(--tab-indicator-height);

            position: absolute;
            inset: 0;
            top: calc(var(--tab-indicator-height) + 100%);
            z-index: -1;

            user-select: none;
        }
    }
}
