.card {
    --card-bar-height: var(--space-12);
    --card-padding-x: var(--space-6);

    display: flex;
    flex-direction: column;

    border-radius: var(--radius-md);
    border: 1px solid var(--gray-5);

    background-color: var(--gray-1);

    .card-footer,
    .card-header {
        padding: 0 var(--card-padding-x);
    }

    .card-body {
        padding: var(--space-3\.5) var(--card-padding-x);
    }

    .card-footer,
    .card-header {
        height: var(--card-bar-height);
        display: flex;
        align-items: center;
    }

    .card-body {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .card-header {
        border-bottom: 1px solid var(--gray-5);
    }

    .card-footer {
        border-top: 1px solid var(--gray-5);
    }
}
