.calendar {
    --cell-outline-width: 2px;
    --cell-outline-color: transparent;
    --cell-bg: transparent;
    --cell-color: var(--slate-11);
    --cell-size: var(--space-8);

    color: var(--slate-12);
    max-width: 100%;
    width: fit-content;

    .header {
        display: flex;
        align-items: center;

        margin: 0 var(--space-1) var(--space-1) var(--space-1);
    }

    .heading {
        flex-grow: 1;

        font-size: var(--font-size-body-md);
        line-height: var(--line-height-body-md);
        text-align: center;

        margin: 0;
    }

    .cell {
        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
        font-weight: var(--font-weight-medium);

        text-align: center;
        vertical-align: middle;

        width: var(--cell-size);
        height: var(--cell-size);
        aspect-ratio: 1 / 1;
    }

    .grid-header {
        border-bottom: 1px solid var(--slate-5);

        .cell {
            color: var(--slate-11);
        }
    }

    .grid-body {
        .cell {
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: var(--radius-round);
            cursor: pointer;

            background-color: var(--cell-bg);
            color: var(--cell-color);

            outline: var(--cell-outline-width) solid var(--cell-outline-color);

            font-variant-numeric: tabular-nums;

            @media (prefers-reduced-motion: no-preference) {
                transition-duration: var(--dur-short);
                transition-property: background-color, opacity, color, outline;
                transition-timing-function: var(--ease-quart-in-out);
            }

            &[data-disabled] {
                cursor: not-allowed;
                opacity: 0.5;
            }

            &[data-focused],
            &[data-focus-visible] {
                --cell-color: var(--blue-9);
                --cell-bg: var(--blue-5);
            }

            &[data-selected] {
                --cell-bg: var(--blue-9);
                --cell-color: var(--slate-1);
            }
        }
    }
}
