.icon {
    --icon-color: currentcolor;

    flex-shrink: 0;
    color: var(--icon-color);

    &.blue {
        --icon-color: var(--brand-9);
    }

    &.grey {
        --icon-color: var(--gray-9);
    }

    &.red {
        --icon-color: var(--red-9);
    }

    &.green {
        --icon-color: var(--green-9);
    }

    &.amber {
        --icon-color: var(--amber-9);
    }
}
