.icon {
    --icon-color: currentColor;

    flex-shrink: 0;
    color: var(--icon-color);

    @media (prefers-reduced-motion: no-preference) {
        transition-duration: var(--dur-short);
        transition-property: color;
        transition-timing-function: var(--ease-quart-in-out);
    }

    &.blue {
        --icon-color: var(--blue-9);
    }

    &.red {
        --icon-color: var(--red-9);
    }

    &.green {
        --icon-color: var(--green-9);
    }

    &.amber {
        --icon-color: var(--amber-9);
    }
}
