.radio-group {
    --text-color: var(--slate-12);

    --radio-item-width: var(--space-4);
    --radio-item-bg: var(--slate-3);

    --radio-item-border-color: var(--slate-6);
    --radio-item-border-width: 1px;

    --radio-item-outline-color: transparent;
    --radio-item-outline-width: 2px;

    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    color: var(--text-color);

    .radio-item {
        display: flex;
        align-items: center;

        gap: var(--space-2);

        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);

        color: var(--text-color);
        forced-color-adjust: none;

        &:before {
            background-color: var(--radio-item-bg);

            border: var(--radio-item-border-width) solid
                var(--radio-item-border-color);

            outline: var(--radio-item-outline-width) solid
                var(--radio-item-outline-color);

            content: "";
            display: block;

            width: var(--radio-item-width);
            height: var(--radio-item-width);

            border-radius: var(--radius-round);

            box-sizing: border-box;
        }
        @media (prefers-reduced-motion: no-preference) {
            &:before {
                transition-duration: var(--dur-short);
                transition-property: background-color, border-color,
                    border-width, color, outline;
                transition-timing-function: var(--ease-quart-in-out);
            }
        }

        &[data-pressed]:before {
            --radio-item-bg: var(--slate-4);
        }

        &[data-selected] {
            --radio-item-border-width: var(--space-1\.5);
            --radio-item-border-color: var(--blue-9);
            --radio-item-bg: var(--slate-1);

            &[data-pressed]:before {
                --radio-item-border-color: var(--blue-10);
            }
        }

        &[data-focus-visible]:before {
            --radio-item-outline-color: var(--blue-6);
        }
    }
}
