.drop-zone {
    border: 1px dashed var(--slate-6);
    border-radius: var(--radius-md);

    background: var(--slate-2);
    color: var(--slate-11);

    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);

    padding: var(--space-4);

    min-height: 15rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
