.group {
    --group-bg: var(--slate-2);
    --group-color: var(--slate-12);

    --group-height: var(--space-8);

    --group-border-width: 1px;
    --group-border-color: var(--slate-6);
    --group-border-radius: var(--radius-md);

    --group-outline-width: 2px;
    --group-outline-color: transparent;

    --group-padding: 0 var(--space-2);

    display: flex;
    align-items: center;

    background-color: var(--group-bg);
    color: var(--group-color);

    border: var(--group-border-width) solid var(--group-border-color);
    border-radius: var(--group-border-radius);

    font-size: var(--fontSize-bodySm);
    line-height: var(--lineHeight-bodySm);

    height: var(--space-8);
    outline: var(--group-outline-width) solid var(--group-outline-color);

    overflow: hidden;
    position: relative;
    transition: short;
    width: 100%;

    @media (prefers-reduced-motion: no-preference) {
        transition-duration: var(--dur-short);
        transition-property: background-color, border-color, color, outline;
        transition-timing-function: var(--ease-quart-in-out);
    }

    &[data-disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &[data-hovered] {
        --group-bg: var(--slate-1);
        --group-border-color: var(--slate-7);
    }

    &[data-focus-within],
    &[data-focus-visible] {
        --group-bg: var(--slate-1);
        --group-border-color: var(--blue-8);
        --group-outline-color: var(--blue-6);
    }

    &[data-invalid] {
        --group-bg: var(--red-2);
        --group-color: var(--red-12);
        --group-border-color: var(--red-6);

        &[data-hovered] {
            --group-bg: var(--red-1);
            --group-border-color: var(--red-7);
        }

        &[data-focus-within],
        &[data-focus-visible] {
            --group-bg: var(--red-1);
            --group-border-color: var(--red-8);
            --group-outline-color: var(--red-6);
        }
    }
}
