main.main {
    margin: 0 auto;
    padding: var(--space-2) var(--space-4);
    width: 100%;

    scrollbar-gutter: stable;

    &.lg {
        max-width: var(--width-main-lg);
    }
    &.md {
        max-width: var(--width-main-md);
    }
    &.sm {
        max-width: var(--width-main-sm);
    }
}
