.date-input {
    --date-input-background: var(--slate-2);
    --date-input-color: var(--slate-11);

    --date-input-border-color: var(--slate-6);
    --date-input-border-size: 1px;

    --date-input-font-size: var(--font-size-body-md);
    --date-input-font-weight: var(--font-weight-medium);
    --date-input-line-height: var(--line-height-body-md);

    --date-input-outline-color: transparent;
    --date-input-outline-size: 2px;

    --date-input-padding: 0 var(--space-1);
    --date-input-radius: var(--radius-md);
    --date-input-height: var(--space-8);

    display: inline-flex;
    align-items: center;

    border: var(--date-input-border-size) solid var(--date-input-border-color);
    border-radius: var(--date-input-radius);

    color: var(--date-input-text-color);
    background-color: var(--date-input-background);

    width: 100%;
    min-width: fit-content;

    height: var(--date-input-height);
    white-space: nowrap;
    forced-color-adjust: none;

    outline: var(--date-input-outline-size) solid
        var(--date-input-outline-color);

    padding: var(--date-input-padding);

    @media (prefers-reduced-motion: no-preference) {
        transition-duration: var(--dur-short);
        transition-property: background-color, border-color, color, outline;
        transition-timing-function: var(--ease-quart-in-out);
    }

    &[data-disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.unstyled {
        --date-input-bg: transparent;
        --date-input-border-color: transparent;
        --date-input-border-radius: 0;
        --date-input-border-width: 0;
    }

    &:not(.unstyled)[data-hovered] {
        --date-input-bg: var(--slate-1);
        --date-input-border-color: var(--slate-7);
    }

    &:not(.unstyled)[data-focus-within],
    &:not(.unstyled)[data-focus-visible] {
        --date-input-bg: var(--slate-1);
        --date-input-border-color: var(--blue-8);
        --date-input-outline-color: var(--blue-6);
    }

    .date-segment {
        --date-segment-bg: transparent;
        --date-segment-text-color: var(--slate-12);

        color: var(--date-segment-text-color);
        background-color: var(--date-segment-bg);

        padding: 0 2px;
        font-variant-numeric: tabular-nums;
        text-align: end;

        border-radius: var(--radius-sm);
        outline: 0;

        @media (prefers-reduced-motion: no-preference) {
            transition-duration: var(--dur-short);
            transition-property: background-color, color;
            transition-timing-function: var(--ease-quart-in-out);
        }

        &[data-type="literal"] {
            padding: 0;
        }

        &[data-readonly],
        &[data-placeholder] {
            --date-segment-text-color: var(--slate-11);
        }

        &[data-focused] {
            --date-segment-text-color: var(--blue-11);
            --date-segment-bg: var(--blue-4);

            caret-color: transparent;
        }

        &[data-invalid] {
            --date-segment-text-color: var(--red-12);

            &[data-readonly],
            &[data-placeholder] {
                --date-segment-text-color: var(--red-11);
            }

            &[data-focused] {
                --date-segment-text-color: var(--red-11);
                --date-segment-bg: var(--red-4);
            }
        }
    }
}
