.text-area {
    --text-area-bg: var(--clr-bg_field);
    --text-area-color: var(--clr-text_high_contrast);

    --text-area-height: calc(var(--space-8) * 3);

    --text-area-border-width: 1px;
    --text-area-border-color: var(--clr-border_field);
    --text-area-border-radius: var(--radius-md);

    --text-area-outline-width: 2px;
    --text-area-outline-color: transparent;

    --text-area-padding: var(--space-1) var(--space-2);

    color: var(--text-area-color);
    font-size: var(--fontSize-bodySm);
    line-height: var(--lineHeight-bodySm);

    width: 100%;
    min-height: var(--text-area-height);
    resize: none;

    border: var(--text-area-border-width) solid var(--text-area-border-color);
    border-radius: var(--text-area-border-radius);

    outline: var(--text-area-outline-width) solid var(--text-area-outline-color);

    padding: var(--text-area-padding);

    @media (prefers-reduced-motion: no-preference) {
        transition-duration: var(--dur-short);
        transition-property: background-color, border-color, color, outline;
        transition-timing-function: var(--ease-quart-in-out);
    }

    &[data-hovered] {
        --text-area-bg: var(--clr-bg_field_active);
        --text-area-border-color: var(--clr-border_field_active);
    }

    &[data-focused],
    &[data-focus-visible] {
        --text-area-bg: var(--clr-bg_field_active);
        --text-area-border-color: var(--clr-focus_border);
        --text-area-outline-color: var(--clr-focus_ring);
    }

    &[data-invalid] {
        --text-area-bg: var(--clr-red-bg_field);
        --text-area-color: var(--clr-red-text_low_contrast);
        --text-area-border-color: var(--clr-red-focus_border);
        --text-area-outline-color: var(--clr-red-focus_ring);
    }

    &[data-disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
