.filter-button-group {
    --filter-button-radius: var(--radius-md);

    display: inline-flex;
    align-items: stretch;
    gap: 1px;
    padding: 1px;

    height: var(--ui-height-sm);
    border-radius: var(--filter-button-radius);

    &[data-disabled] {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
    }
    &[data-filter-applied="false"] {
        background: transparent;
        border: 1px dashed var(--slate-5);
    }
    &[data-filter-applied="true"] {
        border: 1px solid var(--slate-5);
    }

    .filter-button-group-label {
        display: inline-flex;
        align-items: center;
        gap: var(--space-1);

        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
        color: var(--slate-11);

        padding: 0 var(--space-2);

        border-bottom-left-radius: var(--filter-button-radius);
        border-top-left-radius: var(--filter-button-radius);
    }

    .remove-filter-button {
        color: var(--slate-12);
        display: inline-flex;
        flex-shrink: 0;
        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
        font-weight: var(--font-weight-medium);
        gap: var(--space-2);
        outline: 0;
        padding: 0 var(--space-2);
        align-items: center;
        justify-content: center;
        white-space: nowrap;

        border-bottom-right-radius: var(--filter-button-radius);
        border-top-right-radius: var(--filter-button-radius);

        @media (prefers-reduced-motion: no-preference) {
            transition-duration: var(--dur-short);
            transition-property: background-color, border-color, color, outline;
            transition-timing-function: var(--ease-quart-in-out);
        }

        &[data-disabled] {
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
        }

        &[data-hovered],
        &[data-focus-visible],
        &[data-pressed] {
            background-color: var(--slate-3);
        }
    }

    .filter-button {
        --outline-color: transparent;
        --outline-size: 2px;

        color: var(--slate-11);
        display: inline-flex;
        flex-shrink: 0;
        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
        gap: var(--space-2);
        outline: 0;
        padding: 0 var(--space-2);
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        outline: var(--outline-size) solid var(--outline-color);

        @media (prefers-reduced-motion: no-preference) {
            transition-duration: var(--dur-short);
            transition-property: background-color, border-color, color, outline;
            transition-timing-function: var(--ease-quart-in-out);
        }

        &:first-child {
            border-top-left-radius: var(--filter-button-radius);
            border-bottom-left-radius: var(--filter-button-radius);
        }

        &:last-child {
            border-top-right-radius: var(--filter-button-radius);
            border-bottom-right-radius: var(--filter-button-radius);
        }

        &[data-disabled] {
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
        }

        &[data-hovered],
        &[data-focus-visible],
        &[data-pressed] {
            background-color: var(--slate-3);
        }

        &[data-focus-visible] {
            --outline-color: var(--blue-6);
        }
    }
}
