.toast {
    --close-button-size: var(--space-8);
    --close-button-border-width: 1px;
    --close-button-border-color: var(--slate-6);

    --toast-text-color: var(--slate-1);
    --toast-bg-color: var(--slate-12);

    .toast-close-button {
        height: var(--space-8);
        width: var(--space-8);

        margin-left: auto;

        border-radius: var(--radius-round);
        border: var(--close-button-border-width) solid
            var(--close-button-border-color);

        color: var(--slate-1);
    }

    .toast-body {
        align-items: center;
        display: flex;
        gap: var(--space-0\.5);
        justify-self: end;

        background-color: var(--toast-bg-color);
        color: var(--toast-text-color);

        padding: var(--space-2) var(--space-3);

        border-radius: var(--radius-md);
        box-shadow: var(--shadow-lg);
    }

    .toast-description,
    .toast-title {
        font-size: var(--fontSize-bodyMd);
        line-height: var(--lineHeight-bodyMd);

        color: var(--toast-text-color);
    }

    .toast-title {
        font-weight: var(--fontWeight-semibold);
    }
}
