.pill {
    --pill-bg: var(--slate-4);
    --pill-color: var(--slate-11);
    --pill-border-color: var(--slate-5);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    background: var(--pill-bg);
    color: var(--pill-color);
    border: 1px solid var(--pill-border-color);

    border-radius: var(--radius-pill);

    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-medium);

    height: var(--space-6);
    min-width: var(--space-6);

    padding: var(--space-1) var(--space-2);

    white-space: nowrap;

    &.blue {
        --pill-bg: var(--blue-4);
        --pill-color: var(--blue-11);
        --pill-border-color: var(--blue-5);
    }

    &.red {
        --pill-bg: var(--red-4);
        --pill-color: var(--red-11);
        --pill-border-color: var(--red-5);
    }

    &.green {
        --pill-bg: var(--green-4);
        --pill-color: var(--green-11);
        --pill-border-color: var(--green-5);
    }

    &.amber {
        --pill-bg: var(--amber-4);
        --pill-color: var(--amber-11);
        --pill-border-color: var(--amber-5);
    }

    .pill-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        min-width: var(--icon-size-sm);
    }

    &:has(.pill-icon-container) {
        padding-left: var(--space-1);
    }
}
