.pill {
    --pill-bg: var(--slate-3);
    --pill-color: var(--slate-11);
    --pill-border-color: var(--slate-4);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: var(--space-2);

    background: var(--pill-bg);
    color: var(--pill-color);
    border: 1px solid var(--pill-border-color);

    border-radius: var(--radius-pill);

    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-medium);

    height: var(--space-6);
    min-width: var(--space-6);

    padding: var(--space-1) var(--space-2);

    white-space: nowrap;

    &.blue {
        --pill-bg: var(--blue-3);
        --pill-color: var(--blue-11);
        --pill-border-color: var(--blue-4);
    }

    &.red {
        --pill-bg: var(--red-3);
        --pill-color: var(--red-11);
        --pill-border-color: var(--red-4);
    }

    &.green {
        --pill-bg: var(--green-3);
        --pill-color: var(--green-11);
        --pill-border-color: var(--green-4);
    }

    &.amber {
        --pill-bg: var(--amber-3);
        --pill-color: var(--amber-11);
        --pill-border-color: var(--amber-4);
    }
}
