.pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: var(--space-2);

    background: var(--slate-3);
    color: var(--slate-11);

    border-radius: var(--radius-pill);

    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-medium);

    height: var(--space-6);
    min-width: var(--space-6);

    padding: var(--space-1) var(--space-2);

    white-space: nowrap;
}
