.collapsible-card {
    &:has(.collapsible-card-header-button:focus-visible) {
        outline: 2px solid var(--brand-5);
    }

    .collapsible-card-header-button {
        color: inherit;
        display: block;
        appearance: none;
        width: 100%;

        &:not(:disabled):hover {
            .collapsible-card-header {
                cursor: pointer;
                background-color: var(--gray-2);
            }
        }
        &:not(:disabled):active {
            .collapsible-card-header {
                background-color: var(--gray-3);
            }
        }

        &:disabled {
            .collapsible-card-header {
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                .collapsible-icon {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }

        &[data-state="closed"] {
            .collapsible-card-header {
                border-bottom: 1px solid transparent;
                border-radius: var(--radius-md);
            }
        }
        &[data-state="open"] {
            .collapsible-card-header {
                border-top-left-radius: var(--radius-md);
                border-top-right-radius: var(--radius-md);
            }
        }
    }
}
