.alert {
    --text-color: var(--slate-11);
    --background-color: var(--slate-2);
    --border-color: var(--slate-6);

    display: flex;
    gap: var(--space-2);

    padding: var(--space-2);
    margin-bottom: var(--space-4);

    color: var(--text-color);

    border: 1px solid var(--border-color);
    border-radius: var(--radius-md);

    &.blue {
        --text-color: var(--blue-11);
        --background-color: var(--blue-2);
        --border-color: var(--blue-6);
    }

    &.red {
        --text-color: var(--red-11);
        --background-color: var(--red-2);
        --border-color: var(--red-6);
    }

    &.green {
        --text-color: var(--green-11);
        --background-color: var(--green-2);
        --border-color: var(--green-6);
    }

    &.amber {
        --text-color: var(--amber-11);
        --background-color: var(--amber-2);
        --border-color: var(--amber-6);
    }

    .alert-title,
    .alert-message {
        font-size: var(--fontSize-bodyMd);
        line-height: var(--lineHeight-bodyMd);
    }

    .alert-title {
        font-weight: var(--font-weight-medium);
    }
}
