:root {
    --space-0: 0;
    --space-0\.25: 0.0625rem;
    --space-0\.5: 0.125rem;
    --space-0\.75: 0.1875rem;
    --space-1: 0.25rem;
    --space-1\.5: 0.375rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-14: 3.5rem;
    --space-16: 4rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-7: 1.75rem;
    --space-8: 2rem;

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-pill: 99999px;
    --radius-round: 50%;

    --dur-short: 150ms;
    --dur-medium: 300ms;
    --dur-long: 600ms;

    --ease-quart-in-out: cubic-bezier(0.76, 0, 0.24, 1);

    --shadow-xs: rgba(0, 0, 0, 0.05) 0px 2px 1px;
    --shadow-sm: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    --shadow-md: rgba(0, 0, 0, 0.1) 0px 5px 20px;
    --shadow-lg: rgba(0, 0, 0, 0.15) 0px 5px 40px;

    --clr-backdrop: #0007149f;
    --clr-background: #fcfcfd;
    --clr-btn_bg_ghost: transparent;
    --clr-btn_bg_ghost_active: #f0f0f3;
    --clr-btn_primary_bg: #0090ff;
    --clr-btn_primary_bg_active: #0588f0;
    --clr-btn_bg_secondary: #f9f9fb;
    --clr-btn_bg_secondary_active: #f0f0f3;
    --clr-bg_field: #f9f9fb;
    --clr-bg_field_active: #fcfcfd;
    --clr-bg_filter_button: #f0f0f3;
    --clr-bg_filter_button_active: #e8e8ec;
    --clr-bg_switch: #cdced6;
    --clr-bg_switch_active: #0090ff;
    --clr-bg_toast: #1c2024;
    --clr-black: #1c2024;
    --clr-border_field: #d9d9e0;
    --clr-border_field_active: #cdced6;
    --clr-border_rule: #e0e1e6;
    --clr-button_tint: #c2e5ff;
    --clr-focus_border: #5eb1ef;
    --clr-focus_ring: #acd8fc;
    --clr-switch_foreground: #fcfcfd;
    --clr-tab_hover_color: #f0f0f3;
    --clr-tab_selected_color: #e6f4fe;
    --clr-text_high_contrast: #1c2024;
    --clr-text_low_contrast: #60646c;
    --clr-tint_active: #e8e8ec;
    --clr-tint_default: #f9f9fb;
    --clr-tint_hover: #f0f0f3;
    --clr-toast_icon: #8ec8f6;
    --clr-toast_text: #fbfdff;
    --clr-white: #fcfcfd;

    --clr-green-backdrop: #00713fde;
    --clr-green-background: #fbfefc;
    --clr-green-btn_bg_ghost: transparent;
    --clr-green-btn_bg_ghost_active: #d6f1df;
    --clr-green-btn_primary_bg: #30a46c;
    --clr-green-btn_primary_bg_active: #2b9a66;
    --clr-green-btn_bg_secondary: #e6f6eb;
    --clr-green-btn_bg_secondary_active: #d6f1df;
    --clr-green-bg_field: #e6f6eb;
    --clr-green-bg_field_active: #fbfefc;
    --clr-green-bg_filter_button: #d6f1df;
    --clr-green-bg_filter_button_active: #c4e8d1;
    --clr-green-bg_switch: #8eceaa;
    --clr-green-bg_switch_active: #30a46c;
    --clr-green-bg_toast: #193b2d;
    --clr-green-black: #193b2d;
    --clr-green-border_field: #8eceaa;
    --clr-green-border_field_active: #5bb98b;
    --clr-green-border_rule: #adddc0;
    --clr-green-button_tint: #c4e8d1;
    --clr-green-focus_border: #30a46c;
    --clr-green-focus_ring: #adddc0;
    --clr-green-switch_foreground: #fbfefc;
    --clr-green-tab_hover_color: #d6f1df;
    --clr-green-tab_selected_color: #d6f1df;
    --clr-green-text_high_contrast: #218358;
    --clr-green-text_low_contrast: #218358;
    --clr-green-tint_active: #c4e8d1;
    --clr-green-tint_default: #e6f6eb;
    --clr-green-tint_hover: #d6f1df;
    --clr-green-toast_icon: #8eceaa;
    --clr-green-toast_text: #fbfefc;
    --clr-green-white: #fbfefc;

    --clr-red-backdrop: #c40006d3;
    --clr-red-background: #fffcfc;
    --clr-red-btn_bg_ghost: transparent;
    --clr-red-btn_bg_ghost_active: #ffdbdc;
    --clr-red-btn_primary_bg: #e5484d;
    --clr-red-btn_primary_bg_active: #dc3e42;
    --clr-red-btn_bg_secondary: #feebec;
    --clr-red-btn_bg_secondary_active: #ffdbdc;
    --clr-red-bg_field: #feebec;
    --clr-red-bg_field_active: #fffcfc;
    --clr-red-bg_filter_button: #ffdbdc;
    --clr-red-bg_filter_button_active: #ffcdce;
    --clr-red-bg_switch: #f4a9aa;
    --clr-red-bg_switch_active: #e5484d;
    --clr-red-bg_toast: #641723;
    --clr-red-black: #641723;
    --clr-red-border_field: #f4a9aa;
    --clr-red-border_field_active: #eb8e90;
    --clr-red-border_rule: #fdbdbe;
    --clr-red-button_tint: #ffcdce;
    --clr-red-focus_border: #e5484d;
    --clr-red-focus_ring: #fdbdbe;
    --clr-red-switch_foreground: #fffcfc;
    --clr-red-tab_hover_color: #ffdbdc;
    --clr-red-tab_selected_color: #ffdbdc;
    --clr-red-text_high_contrast: #ce2c31;
    --clr-red-text_low_contrast: #ce2c31;
    --clr-red-tint_active: #ffcdce;
    --clr-red-tint_default: #feebec;
    --clr-red-tint_hover: #ffdbdc;
    --clr-red-toast_icon: #f4a9aa;
    --clr-red-toast_text: #fffcfc;
    --clr-red-white: #fffcfc;

    --fontFamily-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

    --fontSize-root: 16px;
    --lineHeight-root: 1.5rem;

    --fontSize-bodyLg: 1rem;
    --lineHeight-bodyLg: 1.5rem;

    --fontSize-bodyMd: 0.875rem;
    --lineHeight-bodyMd: 1.5rem;

    --fontSize-bodySm: 0.8125rem;
    --lineHeight-bodySm: 1rem;

    --fontSize-h1: 2.5rem;
    --lineHeight-h1: 3rem;

    --fontSize-h2: 2rem;
    --lineHeight-h2: 2.5rem;

    --fontSize-h3: 1.75rem;
    --lineHeight-h3: 2rem;

    --fontSize-h4: 1.5rem;
    --lineHeight-h4: 1.75rem;

    --fontSize-h5: 1.25rem;
    --lineHeight-h5: 1.5rem;

    --fontSize-h6: 1.125rem;
    --lineHeight-h6: 1.5rem;

    --fontWeight-bold: 700;
    --fontWeight-extrabold: 800;
    --fontWeight-light: 300;
    --fontWeight-medium: 500;
    --fontWeight-normal: 400;
    --fontWeight-semibold: 600;
}

.red {
    --clr-backdrop: var(--clr-red-backdrop);
    --clr-background: var(--clr-red-background);
    --clr-btn_bg_ghost: var(--clr-red-btn_bg_ghost);
    --clr-btn_bg_ghost_active: var(--clr-red-btn_bg_ghost_active);
    --clr-btn_primary_bg: var(--clr-red-btn_primary_bg);
    --clr-btn_primary_bg_active: var(--clr-red-btn_primary_bg_active);
    --clr-btn_bg_secondary: var(--clr-red-btn_bg_secondary);
    --clr-btn_bg_secondary_active: var(--clr-red-btn_bg_secondary_active);
    --clr-bg_field: var(--clr-red-bg_field);
    --clr-bg_field_active: var(--clr-red-bg_field_active);
    --clr-bg_filter_button: var(--clr-red-bg_filter_button);
    --clr-bg_filter_button_active: var(--clr-red-bg_filter_button_active);
    --clr-bg_switch: var(--clr-red-bg_switch);
    --clr-bg_switch_active: var(--clr-red-bg_switch_active);
    --clr-bg_toast: var(--clr-red-bg_toast);
    --clr-black: var(--clr-red-black);
    --clr-border_field: var(--clr-red-border_field);
    --clr-border_field_active: var(--clr-red-border_field_active);
    --clr-border_rule: var(--clr-red-border_rule);
    --clr-button_tint: var(--clr-red-button_tint);
    --clr-focus_border: var(--clr-red-focus_border);
    --clr-focus_ring: var(--clr-red-focus_ring);
    --clr-switch_foreground: var(--clr-red-switch_foreground);
    --clr-tab_hover_color: var(--clr-red-tab_hover_color);
    --clr-tab_selected_color: var(--clr-red-tab_selected_color);
    --clr-text_high_contrast: var(--clr-red-text_high_contrast);
    --clr-text_low_contrast: var(--clr-red-text_low_contrast);
    --clr-tint_active: var(--clr-red-tint_active);
    --clr-tint_default: var(--clr-red-tint_default);
    --clr-tint_hover: var(--clr-red-tint_hover);
    --clr-toast_icon: var(--clr-red-toast_icon);
    --clr-toast_text: var(--clr-red-toast_text);
    --clr-white: var(--clr-red-white);
}
