.label {
    display: flex;
    align-items: center;
    gap: var(--space-1);

    color: var(--slate-12);

    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
    font-weight: var(--font-weight-medium);

    margin-bottom: var(--space-2);
}
