.input-container {
    --input-icon-offset-x: var(--space-1);
    --input-height: var(--space-8);

    display: inline-flex;
    align-items: center;

    position: relative;
    width: 100%;

    .input-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--slate-11);

        width: var(--input-height);
        height: var(--input-height);

        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;

        pointer-events: none;
    }

    .input {
        --input-bg: var(--slate-2);
        --input-text-color: var(--slate-12);

        --input-border-width: 1px;
        --input-border-color: var(--slate-6);
        --input-border-radius: var(--radius-md);

        --input-outline-width: 2px;
        --input-outline-color: transparent;

        --input-padding: 0 var(--space-2);

        background-color: var(--input-bg);
        color: var(--input-text-color);
        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);

        width: 100%;
        height: var(--input-height);

        border: var(--input-border-width) solid var(--input-border-color);
        border-radius: var(--input-border-radius);

        outline: var(--input-outline-width) solid var(--input-outline-color);

        padding: var(--input-padding);

        @media (prefers-reduced-motion: no-preference) {
            transition-duration: var(--dur-short);
            transition-property: background-color, border-color, color, outline;
            transition-timing-function: var(--ease-quart-in-out);
        }

        &[data-disabled] {
            cursor: not-allowed;
            opacity: 0.5;
        }

        &.unstyled {
            --input-bg: transparent;
            --input-border-color: transparent;
            --input-border-radius: 0;
            --input-border-width: 0;
        }

        &.has-icon {
            --input-padding: 0 var(--space-2) 0 var(--input-height);
        }

        &:not(.unstyled)[data-hovered] {
            --input-bg: var(--slate-1);
            --input-border-color: var(--slate-7);
        }

        &:not(.unstyled)[data-focused],
        &:not(.unstyled)[data-focus-visible] {
            --input-bg: var(--slate-1);
            --input-border-color: var(--blue-8);
            --input-outline-color: var(--blue-6);
        }

        &[data-invalid] {
            --input-bg: var(--red-2);
            --input-text-color: var(--red-12);
            --input-border-color: var(--red-6);

            &:not(.unstyled)[data-hovered] {
                --input-bg: var(--red-1);
                --input-border-color: var(--red-7);
            }

            &:not(.unstyled)[data-focused],
            &:not(.unstyled)[data-focus-visible] {
                --input-bg: var(--red-1);
                --input-border-color: var(--red-8);
                --input-outline-color: var(--red-6);
            }
        }
    }
}
