.layout-container {
    --side-nav-padding: var(--space-2);
    --layout-container-padding: var(--space-2);

    --layout-bar-height: var(--space-10);

    --main-content-container-height: calc(
        100dvh - var(--layout-bar-height) - var(--layout-container-padding)
    );
    --main-content-height: calc(100dvh - (var(--layout-container-padding) * 2));
    --side-nav-height: calc(100dvh - var(--layout-container-padding));

    --scrollbar-gutter-width: var(--space-2);

    --focused-width: var(--width-main-sm);

    --focused-offset-lg: calc((100vw - var(--focused-width)) / 2);
    --focused-offset-sm: calc((50% - var(--focused-width)) / 2);
    --focused-offset: max(var(--focused-offset-lg), var(--focused-offset-sm));

    --layout-focused-padding-y: var(--space-4);

    --side-nav-width: 12rem;

    @media (min-width: 992px) {
        &[data-is-side-nav-open="true"] {
            --side-nav-width: 12rem;
        }
        &[data-is-side-nav-open="false"] {
            --side-nav-width: var(--space-12);

            .hidden-when-collapsed {
                display: none;
            }
        }
    }
    @media (max-width: 991px) {
        --side-nav-width: var(--space-12);

        .hidden-when-collapsed {
            display: none;
        }
    }

    height: 100dvh;
    padding: 0 var(--layout-container-padding);
    background: var(--slate-3);

    /* Grid layout */

    --grid-side-nav: var(--side-nav-width);
    --grid-back-button: var(--layout-bar-height);
    --grid-wide-content-left: auto;
    --grid-focused: var(--focused-width);
    --grid-wide-content-right: auto;

    /** Calculations for grid layout */

    --half-focused-width: calc(var(--focused-width) / 2);

    /* prettier-ignore */
    --grid-wide-content-left: calc(50% - var(--half-focused-width) - var(--side-nav-width) - var(--grid-back-button));
    --grid-wide-content-right: calc(50% - var(--half-focused-width));

    /** Responsive properties for grid layout */

    /* &:has(.header-back-button) {
        --grid-back-button: var(--layout-bar-height);
    } */

    display: grid;
    /* prettier-ignore */
    grid-template-columns: var(--grid-side-nav) var(--grid-back-button) var(--grid-wide-content-left) var(--grid-focused) var(--grid-wide-content-right);
    grid-template-areas: "side-nav back-button wide-content-left focused wide-content-right";

    @media (prefers-reduced-motion: no-preference) {
        will-change: grid;
        transition-duration: var(--dur-medium);
        transition-property: grid;
        transition-timing-function: var(--ease-quart-in-out);
    }

    .layout-body {
        display: grid;
        grid-column: side-nav / wide-content-right;
        grid-template-columns: subgrid;

        /* gap: var(--space-2); */

        border-radius: var(--radius-md);
        border: 1px solid var(--slate-5);

        position: relative;

        background: var(--slate-2);
    }

    .layout-top-nav {
        display: grid;
        grid-column: side-nav / wide-content-right;
        grid-template-columns: subgrid;
        align-items: center;
        /* gap: var(--space-2); */

        /* margin-bottom: var(--space-1); */

        height: var(--layout-bar-height);

        .layout-top-nav-left,
        .layout-top-nav-center,
        .layout-top-nav-right {
            display: flex;
            align-items: center;
            gap: var(--space-1);
        }

        .layout-top-nav-left {
            grid-column: 1;
        }
        .layout-top-nav-center {
            grid-column: 4;
        }
        .layout-top-nav-right {
            justify-self: right;
        }
    }

    &:has(.layout-top-nav) {
        --main-content-height: calc(
            100dvh - var(--layout-bar-height) - var(--layout-container-padding)
        );
        --side-nav-height: calc(
            100dvh - var(--layout-bar-height) - var(--layout-container-padding)
        );

        &:has(.layout-header),
        &:has(.layout-footer) {
            --main-content-height: calc(
                100dvh - (var(--layout-bar-height) * 2) -
                    var(--layout-container-padding)
            );
        }

        &:has(.layout-header):has(.layout-footer) {
            --main-content-height: calc(
                100dvh - (var(--layout-bar-height) * 3) -
                    var(--layout-container-padding)
            );
        }
    }

    &:not(:has(.tabs-container)) .main-content-container {
        /* prettier-ignore */
        grid-template-rows: var(--layout-bar-height) var(--main-content-height) var(--layout-bar-height);
    }

    .main-content-container {
        height: var(--main-content-container-height);
        width: 100%;
        position: relative;

        /* display: flex;
        flex-direction: column;
        flex-shrink: 1; */

        display: grid;
        grid-template-columns: subgrid;
        grid-column: 2 / -1;
        /* prettier-ignore */

        background: var(--slate-1);

        border-top-right-radius: var(--radius-md);
        border-bottom-right-radius: var(--radius-md);

        .main-content {
            overflow-y: auto;
            scrollbar-gutter: stable;

            grid-column: back-button / wide-content-right;

            &:has(.layout-focused) {
                display: grid;
                grid-template-columns: subgrid;
            }

            /* Parent is flex + column, it should grow to fill the space */
            /* flex-grow: 1;
            flex-shrink: 0; */

            max-height: var(--main-content-height);

            &::-webkit-scrollbar {
                background-color: var(--slate-3);
                border-left: 1px solid var(--slate-5);
                overflow: hidden;

                border-bottom-right-radius: var(--radius-sm);
                border-top-right-radius: var(--radius-sm);

                width: var(--space-2);
            }

            &::-webkit-scrollbar-button {
                display: none;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--slate-5);
                border: 2px solid transparent;
                /* border-radius: var(--radius-md); */
            }
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
        }

        .layout-header,
        .layout-footer {
            /* display: flex;
            align-items: center;
            gap: var(--space-2); */

            height: var(--layout-bar-height);
            flex-shrink: 0;

            /* padding: 0 var(--space-4); */

            position: sticky;
            z-index: 1;
        }

        .layout-header {
            display: grid;
            grid-column: back-button / wide-content-right;
            grid-template-columns: subgrid;
            align-items: center;

            border-bottom: 1px solid var(--slate-5);
            top: 0;

            &.center {
                justify-content: center;
            }

            .header-back-button {
                grid-column: back-button;

                display: flex;
                align-items: center;
                justify-self: center;
            }

            .layout-header-content:has(.tab-list.center) {
                display: grid;
                grid-template-columns: subgrid;
                grid-column: wide-content-left / wide-content-right;
            }

            .layout-header-content:not(:has(.tab-list.center)) {
                display: flex;
                align-items: center;
                grid-column: wide-content-left / wide-content-right;
                gap: var(--space-2);

                padding-left: var(--space-4);
                padding-right: var(--space-4);
            }

            &:has(.header-back-button) {
                .layout-header-content:not(:has(.tab-list.center)) {
                    padding-left: 0;
                }
            }
        }

        .layout-footer {
            grid-column: back-button / wide-content-right;
            display: flex;
            align-items: center;
            gap: var(--space-2);

            border-top: 1px solid var(--slate-5);
        }
    }

    .layout-focused {
        grid-area: focused;

        padding-top: var(--layout-focused-padding-y);
        padding-bottom: var(--layout-focused-padding-y);

        width: 100%;

        scrollbar-gutter: stable;

        max-width: var(--focused-width);
    }

    .side-nav {
        --btn-background: transparent;
        --btn-text-color: var(--slate-12);

        --btn-padding: var(--space-1) var(--space-3);
        --btn-height: var(--ui-height-sm);

        --btn-radius: var(--radius-md);

        --btn-border-color: transparent;
        --btn-border-size: 1px;

        --btn-outline-color: transparent;
        --btn-outline-size: 2px;

        background: var(--slate-2);

        border-top-left-radius: var(--radius-md);
        border-bottom-left-radius: var(--radius-md);

        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        /* padding: var(--space-2) var(--space-2) 0 var(--space-2); */

        border-right: 1px solid var(--slate-5);

        height: var(--side-nav-height);
        z-index: 1;

        overflow-x: hidden;

        .side-nav-section {
            display: flex;
            flex-direction: column;
            gap: var(--space-1);

            padding: var(--space-1) var(--side-nav-padding);
        }

        .side-nav-header,
        .side-nav-footer {
            display: flex;
            align-items: center;
            gap: var(--space-2);

            height: var(--layout-bar-height);
            flex-shrink: 0;

            padding: 0 var(--side-nav-padding);

            position: sticky;
            z-index: 1;
        }

        .side-nav-header {
            /* border-bottom: 1px solid var(--slate-5); */
            top: 0;
        }

        .side-nav-footer {
            margin-top: auto;
            /* border-top: 1px solid var(--slate-5); */
            bottom: 0;
        }

        .side-nav-link {
            display: flex;

            &[data-hovered],
            &[data-is-current="true"] {
                background: var(--slate-4);
            }
        }

        .btn-side-nav {
            width: 100%;
        }

        .btn-collapse-container {
            border-top: 1px solid var(--slate-5);

            position: sticky;
            bottom: 0;

            height: calc(var(--layout-bar-height));
            display: flex;
            align-items: center;

            margin-top: auto;
        }

        .org-display {
            display: flex;
            align-items: center;
            gap: var(--space-2);

            /* justify-self: flex-end; */

            color: var(--slate-12);

            font-size: var(--font-size-body-sm);
            line-height: var(--line-height-body-sm);
            font-weight: var(--font-weight-medium);

            .org-display-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.user-menu-header {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    min-width: 10rem;

    margin: 0 var(--space-3);

    padding: var(--space-2) 0;

    /* border-bottom: 1px solid var(--slate-5); */

    .user-menu-header-name,
    .user-menu-header-org {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
    }

    .user-menu-header-name {
        font-weight: var(--font-weight-medium);
        color: var(--slate-12);
    }
    .user-menu-header-org {
        color: var(--slate-11);
    }
}
