.layout-container {
    --side-nav-padding: var(--space-2);
    --layout-container-padding: var(--space-2);

    --layout-bar-height: var(--space-10);

    --main-content-container-height: calc(
        100dvh - var(--layout-bar-height) - var(--layout-container-padding)
    );
    --main-content-height: calc(100dvh - (var(--layout-container-padding) * 2));
    --side-nav-height: calc(100dvh - var(--layout-container-padding));

    --scrollbar-gutter-width: var(--space-2);

    --focused-width: var(--width-main-sm);

    --focused-offset-lg: calc((100vw - var(--focused-width)) / 2);
    --focused-offset-sm: calc((50% - var(--focused-width)) / 2);
    --focused-offset: max(var(--focused-offset-lg), var(--focused-offset-sm));

    --layout-focused-padding-y: var(--space-4);

    --side-nav-width: 12rem;

    @media (min-width: 992px) {
        &[data-is-side-nav-open="true"] {
            --side-nav-width: 12rem;
        }
        &[data-is-side-nav-open="false"] {
            --side-nav-width: var(--space-12);
        }
    }
    @media (max-width: 991px) {
        --side-nav-width: var(--space-12);
    }

    --focused-margin-left: calc(
        var(--focused-offset) - var(--side-nav-width) -
            (var(--layout-container-padding) * 2)
    );
    --focused-margin-right: calc(
        var(--focused-offset) - (var(--layout-container-padding) * 2) -
            var(--scrollbar-gutter-width) ;
    );

    height: 100dvh;

    padding: 0 var(--layout-container-padding);

    background: var(--slate-3);

    .layout-body {
        display: flex;
        /* gap: var(--space-2); */

        border-radius: var(--radius-md);
        border: 1px solid var(--slate-5);

        position: relative;

        background: var(--slate-2);
    }

    .layout-top-nav {
        display: grid;
        grid-template-columns: 1fr var(--focused-width) 1fr;
        align-items: center;
        gap: var(--space-2);

        /* margin-bottom: var(--space-1); */

        height: var(--layout-bar-height);

        .layout-top-nav-left,
        .layout-top-nav-center,
        .layout-top-nav-right {
            display: flex;
            align-items: center;
            gap: var(--space-1);
        }

        .layout-top-nav-left {
            justify-self: start;
        }
        .layout-top-nav-center {
            /* justify-self: center; */
        }
        .layout-top-nav-right {
            justify-self: right;
        }
    }

    &:has(.layout-top-nav) {
        --main-content-height: calc(
            100dvh - var(--layout-bar-height) - var(--layout-container-padding)
        );
        --side-nav-height: calc(
            100dvh - var(--layout-bar-height) - var(--layout-container-padding)
        );

        &:has(.layout-header),
        &:has(.layout-footer) {
            --main-content-height: calc(
                100dvh - (var(--layout-bar-height) * 2) -
                    var(--layout-container-padding)
            );
        }

        &:has(.layout-header):has(.layout-footer) {
            --main-content-height: calc(
                100dvh - (var(--layout-bar-height) * 3) -
                    var(--layout-container-padding)
            );
        }
    }

    .main-content-container {
        height: var(--main-content-container-height);
        width: 100%;
        position: relative;

        display: flex;
        flex-direction: column;
        flex-shrink: 1;

        background: var(--slate-1);

        border-top-right-radius: var(--radius-md);
        border-bottom-right-radius: var(--radius-md);

        .main-content {
            overflow-y: auto;
            scrollbar-gutter: stable;

            /* Parent is flex + column, it should grow to fill the space */
            flex-grow: 1;
            flex-shrink: 0;

            max-height: var(--main-content-height);

            &::-webkit-scrollbar {
                background-color: var(--slate-3);
                border-left: 1px solid var(--slate-5);
                overflow: hidden;

                border-bottom-right-radius: var(--radius-sm);
                border-top-right-radius: var(--radius-sm);

                width: var(--space-2);
            }

            &::-webkit-scrollbar-button {
                display: none;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--slate-5);
                border: 2px solid transparent;
                /* border-radius: var(--radius-md); */
            }
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
        }

        .layout-header,
        .layout-footer {
            display: flex;
            align-items: center;
            gap: var(--space-2);

            height: var(--layout-bar-height);
            flex-shrink: 0;

            /* padding: 0 var(--space-4); */

            position: sticky;
            z-index: 1;
        }

        .layout-header {
            border-bottom: 1px solid var(--slate-5);
            top: 0;

            &.center {
                justify-content: center;
            }
        }

        .layout-footer {
            margin-top: auto;
            border-top: 1px solid var(--slate-5);
            bottom: 0;
        }
    }

    .layout-focused {
        margin-left: max(var(--focused-margin-left), var(--space-2));
        margin-right: var(--focused-margin-right);

        padding-top: var(--layout-focused-padding-y);
        padding-bottom: var(--layout-focused-padding-y);

        width: 100%;

        scrollbar-gutter: stable;

        max-width: var(--focused-width);
    }

    .side-nav {
        --btn-background: transparent;
        --btn-text-color: var(--slate-12);

        --btn-padding: var(--space-1) var(--space-3);
        --btn-height: var(--ui-height-sm);

        --btn-radius: var(--radius-md);

        --btn-border-color: transparent;
        --btn-border-size: 1px;

        --btn-outline-color: transparent;
        --btn-outline-size: 2px;

        background: var(--slate-2);

        border-top-left-radius: var(--radius-md);
        border-bottom-left-radius: var(--radius-md);

        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        /* padding: var(--space-2) var(--space-2) 0 var(--space-2); */

        border-right: 1px solid var(--slate-5);

        height: var(--side-nav-height);
        width: var(--side-nav-width);

        z-index: 1;

        overflow-x: hidden;

        @media (prefers-reduced-motion: no-preference) {
            transition-duration: var(--dur-short);
            transition-property: width;
            transition-timing-function: var(--ease-quart-in-out);
        }

        .side-nav-section {
            display: flex;
            flex-direction: column;
            gap: var(--space-1);

            padding: var(--space-1) var(--side-nav-padding);
        }

        .side-nav-header,
        .side-nav-footer {
            display: flex;
            align-items: center;
            gap: var(--space-2);

            height: var(--layout-bar-height);
            flex-shrink: 0;

            padding: 0 var(--side-nav-padding);

            position: sticky;
            z-index: 1;
        }

        .side-nav-header {
            /* border-bottom: 1px solid var(--slate-5); */
            top: 0;
        }

        .side-nav-footer {
            margin-top: auto;
            /* border-top: 1px solid var(--slate-5); */
            bottom: 0;
        }

        .side-nav-link {
            display: flex;

            &[data-hovered],
            &[data-is-current="true"] {
                background: var(--slate-5);
            }
        }

        .btn-side-nav {
            width: 100%;
        }

        .btn-collapse-container {
            border-top: 1px solid var(--slate-5);

            position: sticky;
            bottom: 0;

            height: calc(var(--layout-bar-height));
            display: flex;
            align-items: center;

            margin-top: auto;
        }

        .user-menu-trigger {
            display: flex;
            align-items: center;
            gap: var(--space-2);

            margin-top: auto;
            padding: var(--space-0\.5);
            /* justify-self: flex-end; */

            border-radius: var(--radius-md);

            background-color: transparent;

            color: var(--slate-12);

            font-size: var(--font-size-body-md);
            line-height: var(--line-height-body-md);
            font-weight: var(--font-weight-medium);

            transition: background var(--dur-short) var(--ease-quart-in-out);

            &[data-focus-visible],
            &[data-hovered],
            &[data-pressed] {
                background: var(--slate-3);
            }

            &[data-focus-visible] {
                outline: 0;
            }

            .user-menu-trigger-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.user-menu-header {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    min-width: 10rem;

    margin: 0 var(--space-3);

    padding: var(--space-2) 0;

    /* border-bottom: 1px solid var(--slate-5); */

    .user-menu-header-name,
    .user-menu-header-org {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: var(--font-size-body-sm);
        line-height: var(--line-height-body-sm);
    }

    .user-menu-header-name {
        font-weight: var(--font-weight-medium);
        color: var(--slate-12);
    }
    .user-menu-header-org {
        color: var(--slate-11);
    }
}
